[Desktop Entry]
Name=EVE Mouse
Comment=Control mouse and keyboard from your phone
Exec=/usr/bin/eve-mouse
Icon=com.eve.mouse
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Actions=stop-server;quit;

[Desktop Action stop-server]
Name=Stop Server
Exec=/usr/bin/eve-mouse --stop-server

[Desktop Action quit]
Name=Quit
Exec=/usr/bin/eve-mouse --quit
